:root {
  --black: #272727;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 62.5%;
  color: var(--black);
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  background-image: url("../img/topography.svg"), linear-gradient(110deg, #DFD3C3, #c7b198);
  background-size: 340px, auto;
  min-height: calc(100vh - 100px);
  margin: 50px;
  /* background-attachment: fixed; */
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 5px 0;
}

.wrapper {
  display: -ms-grid;
  display: grid;
  grid-gap: 2rem;
}

.header {
  display: -ms-grid;
  display: grid;
  grid-gap: 20px;
      grid-template-areas: "logo hero hero" "btn hero hero";
}

.header__hero {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: hero;
  min-height: 60rem;
  width: 100%;
  background: white url(../img/header_back2.jpg);
  background-size: cover;
  background-position: bottom right;
  padding: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__hero h1 {
  font-size: 5rem;
  font-weight: 400;
  text-transform: uppercase;
}

.header__hero p {
  font-size: 3rem;
  font-weight: 400;
  letter-spacing: .2rem;
}

.header__hero > * {
  padding: 5px;
  -webkit-box-shadow: 1rem 1rem 1rem rgba(0, 0, 0, 0.5);
          box-shadow: 1rem 1rem 1rem rgba(0, 0, 0, 0.5);
}

.header__logo {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: logo;
  min-height: 20rem;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.header__logo img {
  height: 13rem;
  width: auto;
}

.header__btn {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: btn;
  min-height: 20rem;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.menu ul {
  display: -ms-grid;
  display: grid;
  grid-gap: 1rem;
  padding: 0;
  list-style: none;
  -ms-grid-columns: (minmax(1rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(1rem, 1fr));
}

.menu ul a {
  display: block;
  text-decoration: none;
  padding: 1rem;
  text-align: center;
  text-transform: uppercase;
  font-size: 2rem;
}

[aria-controls="menu-list"] {
  display: none;
}

.header__hero > *, .header__logo, .header__btn {
  background: rgba(223, 211, 195, 0.7);
}

.btn--header, .menu ul a {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: .2em;
  line-height: 1.5em;
  background: #272727;
  color: #F0ECE2;
  border: none;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1em;
  outline: none;
  padding: 1rem 2rem;
  max-width: 25rem;
  width: 100%;
  cursor: pointer;
  line-height: 1.5em;
  text-align: center;
  text-decoration: none;
}

.btn--header:hover, .menu ul a:hover {
  background: #F0ECE2;
  color: #272727;
  cursor: pointer;
}

.btn--header {
  -webkit-box-shadow: 1rem 1rem 1rem rgba(0, 0, 0, 0.5);
          box-shadow: 1rem 1rem 1rem rgba(0, 0, 0, 0.5);
}
/*# sourceMappingURL=main.css.map */