:root {
  --black: #272727;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 62.5%;
  color: var(--black);
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  background-image: url("../img/topography.svg"), linear-gradient(110deg, #DFD3C3, #c7b198);
  background-size: 340px, auto;
  min-height: calc(100vh - 100px);
  margin: 50px;
  /* background-attachment: fixed; */
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 5px 0;
}

.wrapper {
  display: -ms-grid;
  display: grid;
  grid-gap: 2rem;
}

.contact {
  display: -ms-grid;
  display: grid;
  grid-gap: 4rem;
  max-width: 65vw;
  margin: 0 auto;
      grid-template-areas: "header header"  "adress photo" "phone photo" "button photo";
}

.contact__header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: header;
  font-size: 2.5rem;
  padding: .5rem;
  margin-top: 5rem;
  text-align: center;
}

.contact__photo {
  -ms-grid-row: 2;
  -ms-grid-row-span: 3;
  -ms-grid-column: 2;
  grid-area: photo;
  max-height: 60rem;
  text-align: center;
}

.contact__photo img {
  height: 100%;
}

.contact__adress {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: adress;
  font-size: 1.8rem;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
  padding: 1rem;
  margin: 0;
}

.contact__phone {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: phone;
  font-size: 1.8rem;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding: 2rem;
}

.contact__button {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: button;
}

.contact__button a {
  display: block;
}

.features {
  display: -ms-grid;
  display: grid;
  grid-gap: 2rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-grid-columns: (minmax(25rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
}

.features__header {
  display: -ms-grid;
  display: grid;
  grid-column: 1/-1;
  justify-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 5rem;
  background: rgba(155, 130, 129, 0.7);
}

.features__header h2 {
  font-size: 4rem;
}

.features__header p {
  font-size: 2rem;
}

.feature {
  display: -ms-grid;
  display: grid;
  grid-gap: 2rem;
  background: rgba(155, 130, 129, 0.7);
  justify-items: center;
  padding: 3rem;
}

.feature__icon {
  fill: #DFD3C3;
  width: 7rem;
  height: 7rem;
}

.feature h3 {
  font-size: 2rem;
}

.feature p {
  font-size: 1.8rem;
}

footer {
  background: #272727;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #F0ECE2;
  font-size: 1.5rem;
}

.gallery {
  display: -ms-grid;
  display: grid;
  grid-gap: 20px;
  -ms-grid-columns: (minmax(30rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
}

.gallery h2 {
  grid-column: 1/-1;
  -ms-grid-column-align: center;
      justify-self: center;
  font-size: 3rem;
  padding: 5rem;
}

.gallery img {
  width: 100%;
}

.header {
  display: -ms-grid;
  display: grid;
  grid-gap: 20px;
      grid-template-areas: "logo hero hero" "btn hero hero";
}

.header__hero {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: hero;
  min-height: 60rem;
  width: 100%;
  background: white url(../img/header_back2.jpg);
  background-size: cover;
  background-position: bottom right;
  padding: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__hero h1 {
  font-size: 5rem;
  font-weight: 400;
  text-transform: uppercase;
}

.header__hero p {
  font-size: 3rem;
  font-weight: 400;
  letter-spacing: .2rem;
}

.header__hero > * {
  padding: 5px;
  -webkit-box-shadow: 1rem 1rem 1rem rgba(0, 0, 0, 0.5);
          box-shadow: 1rem 1rem 1rem rgba(0, 0, 0, 0.5);
}

.header__logo {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: logo;
  min-height: 20rem;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.header__logo img {
  height: 13rem;
  width: auto;
}

.header__btn {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: btn;
  min-height: 20rem;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.menu ul {
  display: -ms-grid;
  display: grid;
  grid-gap: 1rem;
  padding: 0;
  list-style: none;
  -ms-grid-columns: (minmax(1rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(1rem, 1fr));
}

.menu ul a {
  display: block;
  text-decoration: none;
  padding: 1rem;
  text-align: center;
  text-transform: uppercase;
  font-size: 2rem;
}

[aria-controls="menu-list"] {
  display: none;
}

.range {
  display: -ms-grid;
  display: grid;
  grid-gap: 2rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  margin-top: 5rem;
  -ms-grid-columns: 1fr 3fr;
      grid-template-columns: 1fr 3fr;
}

.range__hero {
  grid-row: 1/-1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  height: 100%;
  background-position: bottom;
}

.range__hero img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.range__header {
  padding: 2rem;
}

.range__header h2 {
  font-size: 3rem;
}

.range__header p {
  font-size: 2rem;
}

.range__list {
  font-size: 2rem;
  padding: .5rem;
  letter-spacing: .5rem;
  font-weight: 700;
  list-style: none;
  text-decoration: none;
}

.range__list a {
  display: block;
  font-size: 2rem;
  color: inherit;
  border-bottom: 0.5rem solid #DFD3C3;
}

.range__phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact__header, .contact__adress, .contact__phone, .header__hero > *, .header__logo, .header__btn {
  background: rgba(223, 211, 195, 0.7);
}

.range__header {
  background: rgba(155, 130, 129, 0.7);
}

.contact__button a, .btn--header, .menu ul a {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: .2em;
  line-height: 1.5em;
  background: #272727;
  color: #F0ECE2;
  border: none;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1em;
  outline: none;
  padding: 1rem 2rem;
  max-width: 25rem;
  width: 100%;
  cursor: pointer;
  line-height: 1.5em;
  text-align: center;
  text-decoration: none;
}

.contact__button a:hover, .btn--header:hover, .menu ul a:hover {
  background: #F0ECE2;
  color: #272727;
  cursor: pointer;
}

.btn--header,
.btn--map {
  -webkit-box-shadow: 1rem 1rem 1rem rgba(0, 0, 0, 0.5);
          box-shadow: 1rem 1rem 1rem rgba(0, 0, 0, 0.5);
}

footer a.svg, .range__phone a.svg {
  position: relative;
  display: inline-block;
  padding: 1rem;
  margin: 2rem;
}

footer a.svg:after, .range__phone a.svg:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
/*# sourceMappingURL=main.css.map */