:root {
  --black: #272727;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Roboto", sans-serif, sans-serif;
  font-weight: 400;
  font-size: 62.5%;
  color: var(--black);
  text-shadow: 0 2px 0 rgba(0, 0, 0, 0.05);
}

@media only screen and (max-width: 75em) {
  html {
    font-size: 60%;
  }
}

@media only screen and (max-width: 62.5em) {
  html {
    font-size: 58%;
  }
}

@media only screen and (max-width: 50em) {
  html {
    font-size: 56%;
  }
}

@media only screen and (max-width: 37.5em) {
  html {
    font-size: 52%;
  }
}

@media only screen and (max-width: 27.5em) {
  html {
    font-size: 50%;
  }
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  background-image: url("../img/topography.svg"), linear-gradient(110deg, #DFD3C3, #c7b198);
  background-size: 540px, auto;
  min-height: calc(100vh - 100px);
  margin: 5rem;
}

@media only screen and (max-width: 50em) {
  body {
    margin: 4rem;
  }
}

@media only screen and (max-width: 37.5em) {
  body {
    margin: 2rem;
  }
}

@media only screen and (max-width: 27.5em) {
  body {
    margin: 1rem;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 5px 0;
}

.wrapper {
  display: -ms-grid;
  display: grid;
  grid-gap: 2rem;
}

.contact {
  display: -ms-grid;
  display: grid;
  grid-gap: 2rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  width: 80vw;
  margin: 0 auto;
      grid-template-areas: "header header" "adress photo" "phone photo" "button photo";
}

@media only screen and (max-width: 37.5em) {
  .contact {
        grid-template-areas: "header header" "adress button" "photo photo " "phone phone";
  }
}

.contact__header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: header;
  width: 100%;
  font-size: 4rem;
  line-height: 5rem;
  padding: .5rem;
  text-align: center;
}

@media only screen and (max-width: 37.5em) {
  .contact__header {
    font-size: 3.5rem;
  }
}

@media only screen and (max-width: 27.5em) {
  .contact__header {
    font-size: 3rem;
  }
}

.contact__photo {
  -ms-grid-row: 2;
  -ms-grid-row-span: 3;
  -ms-grid-column: 2;
  grid-area: photo;
}

.contact__photo img {
  width: 100%;
  max-width: 600px;
  -o-object-fit: cover;
     object-fit: cover;
}

.contact__adress {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: adress;
  font-size: 1.8rem;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
  padding: 1rem;
  margin: 0;
  text-align: left;
}

.contact__phone {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: phone;
  font-size: 1.8rem;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding: 2rem;
  text-align: left;
}

.contact__phone a {
  display: block;
  color: inherit;
  padding: 2rem;
}

@media only screen and (max-width: 37.5em) {
  .contact__phone a {
    padding: 1rem;
  }
}

.contact__button {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: button;
  -ms-grid-column-align: center;
      justify-self: center;
}

@media only screen and (max-width: 50em) {
  .contact__button {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

.contact__button a {
  display: block;
}

.features {
  display: -ms-grid;
  display: grid;
  grid-gap: 2rem;
  margin-top: 4rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-grid-columns: (minmax(25rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
}

@media only screen and (max-width: 50em) {
  .features {
    -ms-grid-columns: (minmax(30rem, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  }
}

.features__header {
  display: -ms-grid;
  display: grid;
  grid-column: 1/-1;
  justify-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 5rem;
  background: rgba(155, 130, 129, 0.7);
}

.features__header h2 {
  font-size: 3.5rem;
}

@media only screen and (max-width: 50em) {
  .features__header h2 {
    font-size: 3rem;
  }
}

@media only screen and (max-width: 37.5em) {
  .features__header h2 {
    font-size: 2.5rem;
  }
}

.features__header p {
  font-size: 2rem;
}

.feature {
  display: -ms-grid;
  display: grid;
  grid-gap: 2rem;
  background: rgba(155, 130, 129, 0.7);
  justify-items: center;
  padding: 3rem;
}

.feature__icon {
  color: #DFD3C3;
  font-size: 7rem;
}

.feature h3 {
  font-size: 2rem;
}

.feature p {
  font-size: 1.8rem;
}

footer {
  background: #272727;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #F0ECE2;
  font-size: 1.3rem;
}

@media only screen and (max-width: 50em) {
  footer {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: .5rem;
    margin: 1rem;
  }
}

@media only screen and (max-width: 37.5em) {
  footer span {
    display: block;
  }
  footer p {
    padding: .5rem;
  }
}

@media only screen and (max-width: 27.5em) {
  footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0;
  }
  footer p {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  footer span {
    display: inline-block;
  }
}

.gallery {
  display: -ms-grid;
  display: grid;
  grid-gap: 20px;
  -ms-grid-columns: (minmax(30rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  z-index: 1;
}

.gallery h2 {
  width: 100%;
  margin: 0 auto;
  -ms-grid-column-align: center;
      justify-self: center;
  grid-column: 1/-1;
  font-size: 4rem;
  line-height: 5rem;
  padding: .5rem;
  text-align: center;
}

@media only screen and (max-width: 37.5em) {
  .gallery h2 {
    font-size: 3.5rem;
  }
}

@media only screen and (max-width: 27.5em) {
  .gallery h2 {
    font-size: 3rem;
  }
}

.gallery img {
  width: 100%;
}

.gallery a {
  position: relative;
  overflow: hidden;
}

.gallery a::after {
  content: '+';
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  opacity: 0;
  font-size: 30rem;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.6);
  color: #F0ECE2;
  -webkit-transition: opacity .5s ease;
  transition: opacity .5s ease;
}

.gallery a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  background-color: rgba(39, 39, 39, 0.6);
  -webkit-transition: opacity 1s ease;
  transition: opacity 1s ease;
}

.gallery a:hover::after,
.gallery a:hover::before {
  opacity: 1;
}

.header {
  display: -ms-grid;
  display: grid;
  grid-gap: 2rem;
  min-height: 85vh;
      grid-template-areas: "logo hero hero" "btn hero hero";
}

@media only screen and (max-width: 50em) {
  .header {
        grid-template-areas: "hero hero" "logo btn";
  }
}

@media only screen and (min-width: 800px) and (min-height: 800px) {
  .header {
        grid-template-areas: "hero hero" "hero hero" "logo btn";
  }
}

.header__hero {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: hero;
  height: 100%;
  background: url(../img/header_back800x534.png) no-repeat;
  background-size: cover;
  background-position: center bottom;
  padding: 5rem;
  margin-top: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media only screen and (min-width: 62.5em) and (min-height: 50em) {
  .header__hero {
    height: 65rem;
  }
}

@media only screen and (max-width: 37.5em) {
  .header__hero {
    max-height: 50rem;
    background: white url(../img/header-back599x400.png);
  }
}

@media only screen and (max-width: 37.5em) and (min-height: 640px) {
  .header__hero {
    height: 55rem;
    background: white url(../img/header-back478x500.png);
  }
}

@media only screen and (max-width: 27.5em) {
  .header__hero {
    max-height: 50rem;
  }
}

@media only screen and (max-width: 27.5em) and (min-height: 650px) {
  .header__hero {
    height: 55rem;
  }
}

@media only screen and (max-width: 27.5em) and (min-height: 50em) {
  .header__hero {
    height: 60rem;
  }
}

@media only screen and (max-width: 27.5em) and (min-height: 50em) {
  .header__hero {
    margin-top: 5rem;
  }
}

.header__hero h1 {
  font-size: 5rem;
  font-weight: 400;
  text-transform: uppercase;
}

@media only screen and (max-width: 62.5em) {
  .header__hero h1 {
    font-size: 4.5rem;
  }
}

@media only screen and (max-width: 50em) {
  .header__hero h1 {
    font-size: 4rem;
  }
}

@media only screen and (max-width: 37.5em) {
  .header__hero h1 {
    font-size: 3rem;
  }
}

.header__hero p {
  font-size: 3rem;
  font-weight: 400;
  letter-spacing: .2rem;
}

@media only screen and (max-width: 37.5em) {
  .header__hero p {
    font-size: 2rem;
  }
}

.header__hero > * {
  padding: 5px;
  -webkit-box-shadow: 1rem 1rem 1rem rgba(0, 0, 0, 0.5);
          box-shadow: 1rem 1rem 1rem rgba(0, 0, 0, 0.5);
}

.header__logo {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: logo;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.header__logo img {
  height: 20rem;
  width: auto;
}

@media only screen and (max-width: 62.5em) {
  .header__logo img {
    height: 18rem;
  }
}

@media only screen and (max-width: 50em) {
  .header__logo img {
    height: 16rem;
  }
}

@media only screen and (max-width: 37.5em) {
  .header__logo img {
    height: 14rem;
  }
}

@media only screen and (max-width: 27.5em) {
  .header__logo img {
    height: 12rem;
  }
}

.header__btn {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: btn;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.header__btn a {
  display: -ms-grid;
  display: grid;
  grid-column: 1/-1;
  text-align: center;
  width: 100%;
}

@media only screen and (max-width: 37.5em) {
  .header__btn a {
    font-size: 1.5rem;
  }
}

@media only screen and (max-width: 27.5em) {
  .header__btn a {
    font-size: 1.3rem;
    width: 80%;
  }
}

.btn--header {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: btn;
}

@media only screen and (max-width: 27.5em) {
  .btn--header {
    font-size: 1rem;
    width: 50%;
  }
}

.menu {
  margin-bottom: 4rem;
}

.menu__list {
  display: -ms-grid;
  display: grid;
  grid-gap: 2rem;
  margin: 0;
  list-style: none;
  -ms-grid-columns: (minmax(20rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
}

@media only screen and (max-width: 62.5em) {
  .menu__list {
    height: 0;
  }
}

.menu__list a {
  display: block;
  margin: 0 auto;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-size: 2rem;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 1rem 1rem 1rem;
          box-shadow: rgba(0, 0, 0, 0.5) 1rem 1rem 1rem;
}

@media only screen and (max-width: 62.5em) {
  .menu__list a {
    display: none;
  }
}

.menu__burger {
  display: none;
  height: 100%;
  padding: 0;
}

@media only screen and (max-width: 62.5em) {
  .menu__burger {
    display: block;
  }
}

.menu__burger-nav {
  display: -ms-grid;
  display: grid;
  justify-items: center;
  padding: 10px;
  position: fixed;
  overflow: hidden;
  left: 0;
  width: 100%;
  top: -300px;
  background-color: rgba(39, 39, 39, 0.9);
  -webkit-transition: all .3s linear;
  transition: all .3s linear;
  z-index: 10;
  text-transform: uppercase;
}

.menu__burger-nav li {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  letter-spacing: .8rem;
  font-weight: 700;
  list-style: none;
  width: 50%;
  border-bottom: 0.5rem solid #9B8281;
}

.menu__burger-nav a {
  display: block;
  text-align: center;
  padding: 2rem;
  line-height: 100%;
  font-size: 2.5rem;
  color: #DFD3C3;
  text-decoration: none;
}

.menu__burger-nav.on {
  top: 0;
  margin: 0;
}

.menu__burger-icons {
  position: fixed;
  right: 4.9rem;
  cursor: pointer;
  display: -ms-grid;
  display: grid;
  font-size: 5rem;
  line-height: 6rem;
  -webkit-transition: all .3s linear;
  transition: all .3s linear;
  z-index: 200;
}

@media only screen and (max-width: 50em) {
  .menu__burger-icons {
    right: 4rem;
    font-size: 5.8rem;
  }
}

@media only screen and (max-width: 37.5em) {
  .menu__burger-icons {
    right: 2rem;
    font-size: 5.5rem;
  }
}

@media only screen and (max-width: 27.5em) {
  .menu__burger-icons {
    right: 1rem;
  }
}

.menu__burger-icons .fas {
  display: none;
  padding: 3px 6px;
  -ms-grid-column-align: right;
      justify-self: right;
}

.menu__burger-icons i.on {
  display: block;
}

.menu__burger-icons .fa-bars {
  color: #272727;
  background: rgba(223, 211, 195, 0.7);
}

.menu__burger-icons .fa-times {
  color: #DFD3C3;
}

.range {
  display: -ms-grid;
  display: grid;
  grid-gap: 2rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-grid-columns: 1fr 3fr;
      grid-template-columns: 1fr 3fr;
}

.range__hero {
  grid-row: 1/-1;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  height: 100%;
  background-position: bottom;
}

.range__hero img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media only screen and (max-width: 50em) {
  .range__hero img {
    display: none;
  }
}

.range__header {
  padding: 2rem;
}

@media only screen and (max-width: 50em) {
  .range__header {
    grid-column: 1/-1;
  }
}

.range__header h2 {
  font-size: 3rem;
}

.range__header p {
  font-size: 2rem;
}

.range__list {
  font-size: 2rem;
  padding: .5rem;
  letter-spacing: .5rem;
  font-weight: 700;
  list-style: none;
  text-decoration: none;
  display: -ms-grid;
  display: grid;
}

.range__list li {
  border-bottom: 0.5rem solid #DFD3C3;
}

.range__list a {
  display: block;
  font-size: 2rem;
  color: inherit;
  will-change: transform;
  -webkit-transition: -webkit-transform .1s ease-out;
  transition: -webkit-transform .1s ease-out;
  transition: transform .1s ease-out;
  transition: transform .1s ease-out, -webkit-transform .1s ease-out;
}

.range__list a:hover {
  -webkit-transform: translateX(3rem);
          transform: translateX(3rem);
}

.range__phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.range__phone .fas {
  padding: 1rem;
  font-size: 5rem;
  color: #F0ECE2;
}

.range__phone .fas:hover {
  -webkit-animation: .3s 2 rotate;
          animation: .3s 2 rotate;
}

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  20% {
    -webkit-transform: rotate(30deg);
            transform: rotate(30deg);
  }
  60% {
    -webkit-transform: rotate(-30deg);
            transform: rotate(-30deg);
  }
  80% {
    -webkit-transform: rotate(30deg);
            transform: rotate(30deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  20% {
    -webkit-transform: rotate(30deg);
            transform: rotate(30deg);
  }
  60% {
    -webkit-transform: rotate(-30deg);
            transform: rotate(-30deg);
  }
  80% {
    -webkit-transform: rotate(30deg);
            transform: rotate(30deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

.contact__header, .contact__adress, .contact__phone, .gallery h2, .header__hero > *, .header__logo, .header__btn {
  background: rgba(223, 211, 195, 0.7);
}

.range__header {
  background: rgba(155, 130, 129, 0.7);
}

.contact__button a, .btn--header, .menu__list a {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: .2em;
  line-height: 1.5em;
  background: #272727;
  color: #F0ECE2;
  border: none;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1em;
  outline: none;
  padding: 1rem 2rem;
  max-width: 25rem;
  width: 100%;
  cursor: pointer;
  line-height: 1.5em;
  text-align: center;
  text-decoration: none;
}

.contact__button a:hover, .btn--header:hover, .menu__list a:hover {
  background: #F0ECE2;
  color: #272727;
  cursor: pointer;
}

.btn--header,
.btn--map {
  -webkit-box-shadow: 1rem 1rem 1rem rgba(0, 0, 0, 0.5);
          box-shadow: 1rem 1rem 1rem rgba(0, 0, 0, 0.5);
}

footer a.svg {
  position: relative;
  display: inline-block;
  padding: 1rem;
  margin: 2rem;
}

footer a.svg:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.mt-lg {
  margin-top: 5rem;
}
/*# sourceMappingURL=main.css.map */