.contact {
    display: grid;
    grid-gap: 2rem;
    justify-content: center;
    align-content: center;
    grid-template-areas:
        "header header"
        "adress photo"
        "phone photo"
        "button photo";


    &__header {
        grid-area: header;

        @extend %color-light-transparent;
        @extend %header-title;

        title {
            font-size: 4.5rem;
        }
    }

    &__photo {

        grid-area: photo;
        max-height: 60rem;
        text-align: center;

        img {
            height: 100%;
            // width: 100%;
            object-fit: cover;
            overflow: hidden;
        }
    }

    &__adress {
        grid-area: adress;
        font-size: 1.8rem;
        align-self: end;
        padding: 1rem;
        margin: 0;
        text-align: right;
        @extend %color-light-transparent;
    }

    &__phone {
        grid-area: phone;
        font-size: 1.8rem;
        align-self: center;
        padding: 2rem;
        text-align: right;
        @extend %color-light-transparent;

        a {
            display: block;
            color: inherit;
            padding: 2rem;

        }
    }

    &__button {
        grid-area: button;

        a {
            display: block;
            @extend %btn;
        }
    }
}