.features {
    display: grid;
    grid-gap: 2rem;
    margin-top: 4rem;
    justify-content: center;
    align-content: center;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));

    @media only screen and (max-width: $bp-medium) {
        grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    }

    &__header {
        display: grid;
        grid-column: 1/-1;
        justify-items: center;
        justify-content: center;
        padding: 5rem;
        background: rgba(155, 130, 129, .7);

        h2 {
            font-size: 3.5rem;

            @media only screen and (max-width: $bp-medium) {
                font-size: 3rem;
            }

            @media only screen and (max-width: $bp-small) {
                font-size: 2.5rem;
            }
        }

        p {
            font-size: 2rem;
        }
    }
}

.feature {
    display: grid;
    grid-gap: 2rem;
    background: rgba(155, 130, 129, .7);
    justify-items: center;
    padding: 3rem;

    &__icon {
        fill: $color-light-2;
        width: 7rem;
        height: 7rem;
    }

    h3 {
        font-size: 2rem;
    }

    p {
        font-size: 1.8rem;
    }
}