.gallery {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    z-index: 1; 

    h2 {
        width: 100%;
        margin: 0 auto;
        justify-self: center;
        grid-column: 1/-1;      
        font-size: 4rem;
        line-height: 5rem;
        padding: .5rem;
        text-align: center;
        @extend %color-light-transparent;

        @media only screen and (max-width: $bp-small) {
          font-size: 3.5rem;     
        } 
        @media only screen and (max-width: $bp-smallest) {
          font-size: 3rem;     
        } 
    }   
    img {
        width: 100%;        
           
    }

    a {
        position: relative;
        overflow: hidden;
    }
    a::after {
        content: '+';
        position: absolute;
        top:50%;
        left:50%;
        transform: translate(-50%, -50%);       
        opacity: 0;
        font-size: 30rem;
        text-shadow: 0 2px 2px rgba(0, 0, 0, .6);
        color: $color-light-1;      
        transition: opacity .5s ease;     
    }
    a::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        opacity: 0;
        background-color: rgba($color-black, .6);
        transition: opacity 1s ease;
    }
    a:hover::after,
    a:hover::before {
        opacity: 1;
    }

}