.header {
    display: grid;
    // justify-content: center;
    align-items: center;

    min-height: 85vh;
    grid-template-areas:
        "hero img img img"
        "hero img img img";

    grid-gap: 5rem;

    &__hero {
        grid-area: img;

        img {
            width: 100%;
            height: 100%;
            opacity: .8;
        }
    }

    &__introduction {
        max-height: 60vh;
        // background-color: rgba($color-light-2, .8);
        grid-area: hero;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        height: 100%;

        img {
            width: 15rem;
            height: 12rem;
        }

        h4 {

            font-size: 3rem;
            color: $color-black;
            font-weight: normal;
            font-size: 2.5rem;
            text-align: center;

            padding: 5rem 10rem;
        }

        a {
            @include btnDefault;
            @extend %btn;
            // @extend .btn--map;
            text-decoration: none;

        }
    }

}