.header {
    display: grid;
    grid-gap: 2rem;
    // height: 100vh;

    grid-template-areas:
        "logo hero hero"
        "btn hero hero";

    @media only screen and (max-width: $bp-medium) {
        grid-template-areas:
            "hero hero"
            "logo btn";
    }

    // @media only screen and (max-width: $bp-large) {
    //     grid-row: 1/3;
    // }

    &__hero {
        grid-area: hero;
        height: 55rem;
        width: 100%;
        background: white url(../img/header_back-2-large.png);
        background-size: cover;
        background-position: bottom right;
        padding: 5rem;
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: center;

        h1 {
            font-size: 5rem;
            font-weight: 400;
            text-transform: uppercase;

            @media only screen and (max-width: $bp-medium) {
                font-size: 4rem;
            }

            @media only screen and (max-width: $bp-small) {
                font-size: 3rem;
            }

        }

        p {
            font-size: 3rem;
            font-weight: 400;
            letter-spacing: .2rem;

            @media only screen and (max-width: $bp-small) {
                font-size: 2rem;
            }
        }

        &>* {
            @extend %color-light-transparent;
            padding: 5px;
            box-shadow: 1rem 1rem 1rem rgba(0, 0, 0, .5);
        }
    }

    &__logo {
        @extend %color-light-transparent;
        grid-area: logo;
        min-height: 20rem;
        display: grid;
        align-items: center;
        justify-items: center;
        align-content: center;

        img {
            height: 13rem;
            width: auto;

        }
    }

    &__btn {
        @extend %color-light-transparent;
        grid-area: btn;
        min-height: 20rem;
        display: grid;
        align-items: center;
        justify-items: center;
        align-content: center;

        @media only screen and (max-width: $bp-small) {
            width: 70%;
            justify-self: center;
        }

    }
}

.btn--header {
    @extend %btn;

    @media only screen and (max-width: $bp-small) {}

}

// Navigation
.menu {

    margin-bottom: 4rem;


    &__list {
        display: grid;
        grid-gap: 2rem;
        margin: 0;
        list-style: none;
        grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));

        @media only screen and (max-width: $bp-large) {
            height: 0;
        }

        a {
            @extend %btn;
            display: block;
            margin: 0 auto;
            text-decoration: none;
            text-align: center;
            text-transform: uppercase;
            font-size: 2rem;
            box-shadow: rgba(0, 0, 0, 0.5) 1rem 1rem 1rem;

            @media only screen and (max-width: $bp-large) {
                display: none;
            }

        }
    }

    &__burger {
        display: none;
        height: 100%;
        padding: 0;

        @media only screen and (max-width: $bp-large) {
            display: block;
        }

        &-nav {
            display: grid;
            justify-items: center;
            padding: 10px;
            position: fixed;
            overflow: hidden;
            left: 0;
            width: 100%;
            top: -300px;
            // height: 300px;
            background-color: $color-black;
            transition: all .3s linear;
           
            text-transform: uppercase;

            li {
                align-self: center;
                letter-spacing: .8rem;
                font-weight: 700;
                list-style: none;
                // height: 50px;
                width: 50%;
                border-bottom: .5rem solid $color-brown-2;
            }

            a {
                display: block;
                text-align: center;
                padding: 2rem;
                // height: 50px;
                // vertical-align: center;
                line-height: 100%;
                font-size: 2.5rem;
                color: $color-light-2;
                text-decoration: none;
            }

            &.on {
                top: 0;
                margin: 0;
            }
        }

        &-icons {
            position: fixed;
            cursor: pointer;
            font-size: 5rem;
            line-height: 6rem;
            top: 15px;
            right: 8px;
            transition: all .3s linear;

            .fas {
                display: none;
                padding: 3px 6px;
            }

            i.on {
                display: block;

            }

            .fa-bars {
                color: $color-black;
                background: rgba(223, 211, 195, 0.7);
            }

            .fa-times {
                color: $color-light-2;
                z-index: 2;

            }
        }

    }

}