.header {
    display: grid;
    grid-gap: 2rem;

    grid-template-areas:
        "logo hero hero"
        "btn hero hero";

    &__hero {
        grid-area: hero;
        min-height: 60rem;
        width: 100%;
        background: white url(../img/header_back2.jpg);
        background-size: cover;
        background-position: bottom right;
        padding: 5rem;
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: center;

        h1 {
            font-size: 5rem;
            font-weight: 400;
            text-transform: uppercase;
        }

        p {
            font-size: 3rem;
            font-weight: 400;
            letter-spacing: .2rem;
        }

        &>* {
            @extend %color-light-transparent;
            padding: 5px;
            box-shadow: 1rem 1rem 1rem rgba(0, 0, 0, .5);
        }
    }

    &__logo {
        @extend %color-light-transparent;
        grid-area: logo;
        min-height: 20rem;
        display: grid;
        align-items: center;
        justify-items: center;
        align-content: center;

        img {
            height: 13rem;
            width: auto;
        }
    }

    &__btn {
        @extend %color-light-transparent;
        grid-area: btn;
        min-height: 20rem;
        display: grid;
        align-items: center;
        justify-items: center;
        align-content: center;
    }
}

.btn--header {
    @extend %btn;
}

// Navigation
.menu {
    display: grid;

    ul {
        display: grid;

        grid-gap: 1rem;
        padding: 0;
        list-style: none;
        grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));

        a {
            @extend %btn;
            display: block;
            margin: 0 auto;

            text-decoration: none;
            text-align: center;
            text-transform: uppercase;
            font-size: 2rem;

            @media only screen and (max-width: $bp-large) {
                display: none;
            }
        }
    }

    &__burger {
        display: none;
        height: 100%;

        @media only screen and (max-width: $bp-large) {
            display: block;
        }


        &-nav {
            display: grid;
            justify-items: center;
            padding: 10px;
            position: fixed;
            overflow: hidden;
            left: 0;
            width: 100%;
            top: -300px;
            height: 300px;
            // min-height: 40vh;
            background-color: $color-black;
            transition: .3s linear;
            text-transform: uppercase;

            li {
                // align-self: center;
                letter-spacing: .8rem;
                font-weight: 700;
                list-style: none;
                height: 50px;
                width: 50%;
                border-bottom: .5rem solid $color-brown-2;
            }


            a {
                display: block;
                text-align: center;
                height: 50px;
                line-height: 100%;
                font-size: 2.5rem;
                color: $color-light-2;
                text-decoration: none;
            }

            &.on {
                top: 0;
            }
        }

        &-icons {
            position: fixed;
            cursor: pointer;
            font-size: 6rem;
            line-height: 6rem;
            top: 25px;
            right: 60px;
            transition: .3s linear;

            .fas {
                display: none;
            }

            i.on {
                display: block;

            }

            .fa-bars {
                color: $color-black;
            }

            .fa-times {
                color: $color-light-2;
            }
        }

    }

}