// Navigation
.menu {

    margin-bottom: 1rem;


    &__list {
background-color: $color-light-2;
  
        display: grid;
        grid-gap: 2rem;
        margin: 0;
        list-style: none;
        grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));

        @media only screen and (max-width: $bp-large) {
            height: 0;
        }

        a {
            @include btnDefault;
            color: darken($color-brown-2, 20%);
            display: block;
            margin: 0 auto;
            text-decoration: none;
            text-align: center;
            text-transform: uppercase;
            font-size: 2rem;
            &:hover{
                color: darken($color-black, 20%);
            }       

            @media only screen and (max-width: $bp-large) {
                display: none;
            }

        }
    }

    &__burger {
        display: none;
        height: 100%;
        padding: 0;

        @media only screen and (max-width: $bp-large) {
            display: block;
        }

        &-nav {
            display: grid;
            justify-items: center;
            padding: 10px;
            position: fixed;
            overflow: hidden;
            left: 0;
            width: 100%;
            top: -300px;
            background-color: rgba($color-black, .9);
            transition: all .3s linear;
            z-index: 10;
            text-transform: uppercase;

            li {
                align-self: center;
                letter-spacing: .8rem;
                font-weight: 700;
                list-style: none;
                width: 50%;
                border-bottom: .5rem solid $color-brown-2;
            }

            a {
                display: block;
                text-align: center;
                padding: 2rem;
                line-height: 100%;
                font-size: 2.5rem;
                color: $color-light-2;
                text-decoration: none;
            }

            &.on {
                top: 0;
                margin: 0;
            }
        }

        &-icons {
            position: fixed;
            right: 4.9rem;
            cursor: pointer;
            display: grid;
            font-size: 5rem;
            line-height: 6rem;
            transition: all .3s linear;
            z-index: 200;

            @media only screen and (max-width: $bp-medium) {
                right: 4rem;
                font-size: 5.8rem;
            }

            @media only screen and (max-width: $bp-small) {
                right: 2rem;
                font-size: 5.5rem;
            }

            @media only screen and (max-width: $bp-smallest) {
                right: 1rem;

            }


            .fas {
                display: none;
                padding: 3px 6px;
                justify-self: right;

            }

            i.on {
                display: block;
            }

            .fa-bars {
                color: $color-black;
                background: rgba(223, 211, 195, 0.7);
            }

            .fa-times {
                color: $color-light-2;
            }
        }

    }

}