.range {
    display: grid;
    grid-gap: 2rem;
    justify-content: center;
    align-content: center;
    grid-template-columns: 1fr 3fr;


    &__hero {
        grid-row: 1/-1;
        grid-column: 1/2;
        height: 100%;
        background-position: bottom;



        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__header {
        padding: 2rem;
        @extend %color-dark-transparent;

        h2 {
            font-size: 3rem;
        }

        p {
            font-size: 2rem;
        }
    }

    &__list {
        font-size: 2rem;
        padding: .5rem;
        letter-spacing: .5rem;
        font-weight: 700;
        list-style: none;
        text-decoration: none;
        transition: all .2s ease;

        a {
            display: block;
            font-size: 2rem;
            color: inherit;
            position: relative;
            border-bottom: .5rem solid $color-light-2;

            &:hover {
                transform: translateX(2rem);
                width: calc(100% - 4rem);
            }
        }

        a:hover::after {
            content: "";
            transform: translateX(0);
            width: 100%;
            border-top: .5rem solid $color-light-2;
            position: absolute;
            bottom: -0.5rem;
            left: 0;
        }
    }

    &__phone {
        display: flex;
        justify-content: space-around;
        align-items: center;

        // @extend %a--svg;
        img {
            // display: block;
            height: 3rem;

            // transform-origin: 


        }

        img:hover {
            animation: rotate .1s linear infinite alternate;
        }

        img:active {
            animation-play-state: paused;
        }
    }

    @keyframes rotate {
        0% {
            transform: rotate(30deg);
        }

        100% {
            transform: rotate(-30deg);
        }
    }


}