%btn {
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: .2em;
    line-height: 1.5em;
    background: $color-black;
    color: $color-light-1;

    border: none;
    font-size: 2rem;
    font-weight: 700;
    line-height: 1em;
    outline: none;
    padding: 1rem 2rem;
    max-width: 25rem;
    width: 100%;
    cursor: pointer;
    line-height: 1.5em;
    text-align: center;
    text-decoration: none;

    &:hover {
        background: $color-light-1;
        color: $color-black;
        cursor: pointer;

    }
}

.btn--header {
    box-shadow: 1rem 1rem 1rem rgba(0, 0, 0, .5);
}